<form action="/users" method="POST">
  <label for="user[username]">Username:</label>
  <input type="text" name="user[username]">

  <label for="user[password]">Password</label>
  <input type="password" name="user[password]">

  <input type="submit" value="Join KIRENDb">
</form>
